// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Vuetify
@import '~vuetify/dist/vuetify.min.css';

a.v-btn, .v-navigation-drawer a.v-list-item {
    text-decoration: none;
}

.no-js {
    visibility: hidden;
    opacity: 0;
}

.js {
    visibility: visible;
    opacity: 1;
}
