option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_storage_writable.sh":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
        #!/usr/bin/env bash
        chmod -R 777 /var/app/current/storage
